@import url("https://cdn-uicons.flaticon.com/2.6.0/uicons-brands/css/uicons-brands.css");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #cad2c5;
}

.navlink-container {
  display: flex;
  justify-content: space-around;
  background-color: #354f52e2;
}

.logo-container {
  display: flex;
}

.Logo_s {
  font-size: 1.3em;
  line-height: 1.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
}

.logo_righ {
  padding: 3px 2px 3px 5px;
  background-color: #84a98c;
}

.logo_lef {
  background-color: #2f3e46;
  padding: 3px 5px 3px 2px;
}

.links-container {
  position: relative;
  align-content: center;
  padding: 0;
}

.links {
  padding: 0.4em 0.6em;
  margin: 0 0.1em;
  transition: all 0.5s;
}

.links:hover {
  background-color: #52796f;
}

.links-container a {
  text-decoration: none;
  color: white;
}

.links-container ul li {
  list-style: none;
}

.sublinks-container {
  display: none;
  position: absolute;
}

.icon-container {
  align-content: center;
}

.icon {
  font-size: 1.5em;
  padding-right: 2px;
  padding-left: 2px;
}

.banniere-content {
  display: flex;

  margin-top: 2.5em;
}

.image-profile {
  width: 27em;
  height: 30em;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 7.4em;
}

.profile-info {
  margin-left: 2.4em;
  margin-right: 5em;
}
